<h2>Bildergallerie</h2>

<div class="row">
  <% @gallery.each do |upload| %>
    <div class="col-xs-6 col-md-3">
      <% if current_user.present? && current_user.has_role?(:admin) %>
        <%= link_to "Delete", upload_path(upload), :method => :delete, :class => 'btn btn-xs btn-danger', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
      <% end %>
      <%= link_to image_tag(upload.image.url(:medium), :style => "height:150px"), upload.image.url(:original), :class => "thumbnail", "data-toggle" => "lightbox" %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="well">
    <%= paginate @gallery %>
    <%= link_to "Bilder hochladen", new_upload_path(), :class => "btn btn-primary btn-lg", :role => "button", :style => "float:right" %>
  </div>
</div>
