
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 well ">
    <h2>Deutsch-Englischer Kinderladen in Berlin-Weißensee</h2>
    <p>Ihr freut Euch, wenn Euer Kind spielerisch eine zweite Sprache lernt?<br>
      Ihr möchtet am Alltag Eurer Kinder teilhaben?<br>
      Ihr wünscht Euch eine familiäre Kindergruppe?<br>
      Ihr wollt, dass Euer Kind individuell gefördert wird?<br>
      Ihr legt Wert auf gesunde Ernährung, die auch auf Allergien abgestimmt wird?<br>
      Ihr möchtet, dass Euer Kind mit uns Projekte macht, Ausflüge unternimmt, Feste feiert,
      neue Freundschaften schließt? </p>
  </div>
</div>

</div>
<% content_for :sidebar do %>
  <h3>Aktuelle Themen</h3>
  <div class="list-group">
    <% Discussion.where(:state => "opened").order("updated_at DESC").limit(10).each do |discussion| %>
      <%= link_to discussion_path(discussion), :class=>"list-group-item" do %><%= discussion.title %> <%= badge(discussion.articles.count, :warning) %><% end %>
    <% end %>
  </div>
<% end %>