<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 well ">
    <h2>Deutsch-Englischer Kinderladen in Berlin-Weißensee</h2>
  </div>
</div>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-6 well left list-group">
      <div class="list-group-item">Ihr freut Euch, wenn Euer Kind spielerisch eine zweite Sprache lernt?</div>
      <div class="list-group-item">Ihr möchtet am Alltag Eurer Kinder teilhaben?</div>
      <div class="list-group-item">Ihr wünscht Euch eine familiäre Kindergruppe?</div>
      <div class="list-group-item">Ihr wollt, dass Euer Kind individuell gefördert wird?</div>
      <div class="list-group-item">Ihr legt Wert auf gesunde Ernährung, die auch auf Allergien abgestimmt wird?</div>
      <div class="list-group-item">Ihr möchtet, dass Euer Kind mit uns Projekte macht, Ausflüge unternimmt, Feste feiert,
        neue Freundschaften schließt?</div>
    </div>
    <div class="col-xs-12 col-md-6 well right list-group">
      <div class="list-group-item">Do you want your child to learn a second language easily whilst playing?</div>
      <div class="list-group-item"> Do you want to take an active role in the daily life of your child?</div>
      <div class="list-group-item"> Are you looking for a friendly atmosphere with small groups of children?</div>
      <div class="list-group-item"> Do you want individual support for your child?</div>
      <div class="list-group-item"> Do you attach great value to healthy food </div>
      <div class="list-group-item"> whilst being conscious of allergies?</div>
      <div class="list-group-item"> Do you want your child completing projects, going on excursions, enjoying themselves and making new friends?</div>
    </div>
  </div>

</div>

<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 jumbotron">
    <h1>Macht mit - Then join</h1>
    <p>Zilli·Billi·Willi!</p>
    <p><a role="button" class="btn btn-primary btn-lg" href="mailto:info@zillibilliwilli.eu?subject=Information">Informationen anfordern</a></p>
  </div>
</div>
</div>


<% content_for :sidebar do %>
  <h3>Aktuelle Themen</h3>
  <div class="list-group">
    <% Discussion.where(:state => "opened").order("updated_at DESC").limit(10).each do |discussion| %>
      <%= link_to discussion_path(discussion), :class=>"list-group-item" do %><%= discussion.title %> <%= badge(discussion.articles.count, :warning) %><% end %>
    <% end %>
  </div>
<% end %>