
<div class="row">
  <div class="col-xs-12 well">
    <h2>WEG Portal Gounodstrasse 47 - 57</h2>
    <p>Hier entsteht langsam eine Kommunikationsplatform für die WEG Mitglieder der Gounodstrasse 47 -57. Nach einem <%= link_to "Login", "users/sign_in" %> finden Sie hier die Möglichkeit Themen zu diskutieren und Umfragen zu erstellen. Die Platform wird gerade noch entwickelt und jedes Feedback hierzu ist gerne gesehen. Anregungen und Wünsche hierzu können bereits jetzt in den Themen besprochen werden.</p>
    <p>Das Bautagegebuch wird weiterhin öffentlich verfügbar bleiben und ist in nun unter der Url <%= link_to "blog.gounod.berlin", "http://blog.gounod.berlin" %> direkt erreichbar.</p>
    <p>Die geschlossenen Bereiche sind nur mit einer bereits im System bekannten Emailadresse zu erreichen. Die Accounts hierfür werden von Hand angelegt und verwaltet. Ein automatisiertes registrieren ist nicht geplant. Mit den Emailadressen, der bereits bestätigten Newsletterregistrierungen, ist bereits eine Anmeldung möglich</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-5 well">
      Hier geht es zum <a href="http://blog.gounod.berlin" class="btn btn-primary">Bautagebuch</a>
  </div>
  <div class="col-xs-5 well col-xs-offset-2">
    Informationen rund um die WEG finden sie in den <%= link_to "Themen", discussions_path(), :class => "btn btn-primary" %>
  </div>
</div>
