<h2>Anmeldung</h2>

<div class="alert alert-info" role="alert"><p>Die Anmeldung am Portal erfolgt ausschließlich durch Eingabe Ihrer Emailadresse. Sie erhalten jedes mal eine Email, in der ein einmalig gültiger Link enthalten ist. Mit diesem Link können Sie sich am Portal anmelden.</p>
  <p>Falls Sie noch nicht registriert sind, melden Sie sich bitte per <a href="mailto:marco.metz@gmail.com?subject=Registration">Email</a>.</p>
</div>

<%= form_for(resource, as: resource_name, url: email_login_path(), :html => {:class => "form-inline"}) do |f| %>

  <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email eingeben", :type => "email", :required => "true"%>
      </div>
  </div>

  <%= f.submit "anmelden", :class => "btn btn-primary" %>

<% end %>

<br><br>


<%#= render "devise/shared/links" %>
