<p><%= @greeting %>, es wurde ein neues Thema eröffnet:</p>

<h2><%= @discussion.title %></h2>

<%= raw(@discussion.description) %>
<br><br>


<p>Mit freundlichen Grüßen
<br>
<br>
www.gounod.berlin
</p>