<p><%= @greeting %>, es wurde ein neuer Beitrag erstellt:</p>

<h2><%= @article.discussion.title %></h2>

<%= raw(@article.description) %>
<br><br>

<p>Mit freundlichen Grüßen
<br>
<br>
www.gounod.berlin
</p>