<div id="mc_embed_signup">
<form action="//berlin.us8.list-manage.com/subscribe/post?u=8cb97a0991acefbace46d1b68&amp;id=b8695bb359" method="post" role="form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h3>WEG Newsletter</h3>
  <p>Dieser Newsletter soll dazu dienen, alle Wohnungseigentümer untereinander zu vernetzen. Die Email des Newsletters wird ebenfalls als Login für dieses Portal verwendet. Der Zugang zum Portal wird manuell und nach Rücksprache freigeschalten.</p>
<div class="form-group">
  <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email">
</div>
<div class="form-group">
    <div class="form-group" style="">
      <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Vorname">
    </div>
    <div class="form-group" style="">
      <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Nachname">
    </div>
<div class="form-group">
    <div class="mc-field-group" style="">
      <input type="text" value="" name="FLATID" class="form-control" id="mce-FLATID" placeholder="Wohnungsnummer">
    </div>
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8cb97a0991acefbace46d1b68_b8695bb359" tabindex="-1" value=""></div>
    <div class="" style="clear:both">
        <input type="submit" value="Newsletter & Portal Anmelden" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning">

    </div>
</form>

</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
(function($) {
window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
}(jQuery));
var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->