<%- model_class = User -%>
<div class="page-header">
  <h1>Mein Profil</h1>
</div>
<%= form_for @account, :url => account_path(@account), :html => { :class => "form-horizontal user", :role => "form" } do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

